:root {
    --primary-color: #0f2e3b;
    --button-color: #17847d;
    --button-hover-color: #13726c;
    --link-hover-color: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../images/background.jpeg');
    background-attachment: fixed;
    background-color: rgba(#000, 0.5);
    background-size: cover;
    color: white;
}

/* Links */
a, a:visited {
    text-decoration: none;
    color: white;
}

a.active {
    font-weight: bold;
}

a:hover {
    color: var(--link-hover-color);
}

/* Typography */
h1 {
    font-size: 3.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
}

/* Buttons */
button {
    background-color: var(--button-color);
    color: white;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    width: max-content;
}

button:hover {
    background-color: var(--button-hover-color);
}

button.large-btn {
    padding: 13px 20px !important;
    font-weight: bold;
    font-size: 1rem;
}

/* List */
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto 100px;
}

/* Navigation Menu */
nav {
    background-color: var(--primary-color);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: white;
}


.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    width: 65px;
    height: 60px;
    border-radius: 10px;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 10px;
    border-radius: 30px;
}

#searchResult {
    outline: none;
    color: var(--primary-color);
    padding: 10px 8px;
    border: none;
    width: 250px;
}

/* Socials */
.socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    top: 30%;
}

/* Hero Section */
.hero-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 650px;
}